* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  header {
    height: 500px;
    width: 1000px;
    background-color: #129799;
    margin-left: 25%;
    font-size: 25px;
    color: white;  
    }

  #inicio {
  height: 150px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 200px;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  /* border: solid; */
  }

 #destaque {
  height: 200px;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  /* border: solid; */
 }

  .titulo {
  font-size: 35px;
  /* margin-left: 200px; */
  }

  .imagem {
    width: 600px;
  }

  #opcoes {
  width: 800px;
  margin-top: 80px;
  margin-left: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  /* border: solid; */
  }

  #Site {
    width: 1900px;
    background-color: #E5E5E5;
  }

  main {
    height: 940px;
    width: 1000px;
    margin-left: 25%;
    font-size: 25px;
    color: white;
    background-color: #FFA185;
  }

  .Aquarela {
    height: 100px;
    width: 900px;
    margin-left: 30px;
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    /* border: solid; */
  }

  .Descricao {
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: black;
    /* border: solid; */
  }

  #ImagensMusica {
  height: 580px;
  width: 950px;
  margin-top: 90px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  /* border: solid; */
  }

  .VejaMais {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* border: solid; */
  }  

  footer {
    height: 150px;
    width: 1000px;
    margin-left: 25%;
    background-color: #129799;
  }

  #RedesSociaisEFinal {
    height: 150px;
    width: 250px;
    margin-left: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
  }

  #Final {
    height: 150px;
    width: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
     /* color: white; */
    border: solid;
  } 

  