* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  header {
    height: 500px;
    background-color: #129799;
    font-size: 25px;
    color: white;  
    }

  #inicio {
  height: 150px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 700px;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  /* border: solid; */
  }

 #destaque {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  /* border: solid; */
 }

  .titulo {
  font-size: 35px;
  margin-left: 200px;
  }

  .imagem {
    width: 600px;
  }

  #opcoes {
  width: 800px;
  margin-top: 80px;
  margin-left: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  /* border: solid; */
  }

  main {
    height: 1000px;
    font-size: 25px;
    color: white;
    background-color: #FFA185;
  }

  .Aquarela {
    /* height: 300px; */
    width: 900px;
    border: solid;
  }

  .Descricao {
    margin-top: 20px;
    border: solid;
  }



  footer {
    height: 250px;
    background-color: #129799;
  }